{{!< default}}
<div class="row">
	<div class="small-12 medium-10 small-centered column">
		<div class="jumbotron"><img src="/images/logo.svg" width="160">
			<p>
				Keystone.js with foundation and the necessary grunt tasks to develop with it
			</p>
		</div>
	</div>
</div>
